* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#sidebar {
  width: 100px;
  height: 100%;
  background-color: white;
  position: relative;
  padding-top: 1px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
#sidebar:hover {
  width: 300px;
}
#sidebar .sidebar-list {
  list-style: none;
  display: flex;
  width: 85%;
  height: 14vh;
  margin: 0 auto;
  position: relative;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#sidebar .sidebar-list:nth-child(1) svg {
  display: block;
}
#sidebar .sidebar-list svg {
  position: absolute;
  left: 20px;
  transition: all 0.5s ease-in-out;
  display: none;
}
#sidebar .sidebar-items {
  list-style: none;
  display: flex;
  width: 85%;
  height: 14vh;
  margin: 0 auto;
  position: relative;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#sidebar .sidebar-items:nth-child(1):hover {
  background-color: transparent;
  cursor: initial;
}
#sidebar .sidebar-items:hover svg {
  transform: rotateY(180deg);
}
#sidebar .sidebar-items:nth-child(6):hover svg {
  transform: rotate(180deg);
}
#sidebar .sidebar-items:hover {
  background-color: rgba(221, 221, 221, 0.275);
  border-radius: 5px;
}
#sidebar .sidebar-items:nth-child(1) svg {
  left: 22px;
}
#sidebar .sidebar-items:nth-child(2) svg, #sidebar .sidebar-items:nth-child(2) svg {
  left: 12px;
}
#sidebar .sidebar-items:nth-child(5) svg {
  left: 8px;
}
#sidebar .sidebar-items:nth-child(7) svg {
  left: 20px;
}
#sidebar .sidebar-items:nth-child(6)::after, #sidebar .sidebar-items:nth-child(2)::after {
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 1.5px;
  background-color: rgb(161, 161, 161);
  position: absolute;
  top: 0;
}
#sidebar .sidebar-items svg {
  position: absolute;
  left: 15px;
  transition: all 0.5s ease-in-out;
}
#sidebar .sidebar-items span {
  position: relative;
  left: 120px;
}
#sidebar .sidebar-active::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: 0;
  background-color: rgb(68, 119, 195);
}

#date-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(226, 232, 236);
  transition: all 0.5s ease-in-out;
}
#date-container #banner {
  width: 100%;
  height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#date-container #banner::after {
  content: "";
  display: block;
  width: 100%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgba(157, 157, 157, 0.16);
  position: absolute;
  bottom: 0px;
}
#date-container #banner #banner-introduce {
  display: flex;
  align-items: center;
}
#date-container #banner #banner-introduce span {
  font-size: 20px;
  margin-left: 30px;
  color: rgb(36, 36, 36);
}
#date-container #banner #user-information {
  height: 70%;
  width: 150px;
  background-color: transparent;
  box-shadow: 4px 6px 6px 2px white;
  border-radius: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#date-container #banner #user-information:hover {
  box-shadow: inset 4px 6px 6px 2px white;
}
#date-container #banner #user-information #user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: none;
  overflow: hidden;
  background-color: aquamarine;
  position: relative;
}
#date-container #banner #user-information #user-picture img {
  width: 100%;
  height: 100%;
}
#date-container .page-show {
  display: flex !important;
}
#date-container .user-page {
  height: 100%;
  width: 96%;
  margin: 5px auto 0;
  box-sizing: border-box;
  flex-direction: column;
}
#date-container .user-page #user-container-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#date-container .user-page #user-container-top #user-detailed-information {
  width: 70%;
  min-width: 300px;
  height: 300px;
  background-color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date {
  width: 20%;
  height: 70%;
  margin-left: 5px;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.612);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date .edit-information {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  bottom: 50%;
  right: 50%;
  border-radius: 50%;
  background-color: white;
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date .edit-information input {
  height: 50px;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:nth-child(4) p, #date-container .user-page #user-container-top #user-detailed-information .user-date:nth-child(2) p {
  top: 25px;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date p {
  position: relative;
  top: 20px;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:hover {
  background-color: rgb(245, 245, 245);
  transition: all 0.5s ease;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:hover .edit-information {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:hover::after {
  content: "";
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:hover svg {
  transform: rotateY(180deg);
  opacity: 0;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date svg {
  transition: all 0.5s ease;
}
#date-container .user-page #user-container-top #user-detailed-information .user-date:nth-child(5) {
  margin-right: 5px;
}
#date-container .user-page #user-container-top #user-picture-box {
  width: 30%;
  min-width: 200px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#date-container .user-page #user-container-top #user-picture-box p:nth-child(1) {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 20px;
}
#date-container .user-page #user-container-top #user-picture-box p:nth-of-type(2) {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
}
#date-container .user-page #user-container-top #user-picture-box #time-container {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
#date-container .user-page #user-container-top #user-picture-box #time-container svg {
  width: 40px;
  height: 40px;
}
#date-container .user-page #user-container-top #user-picture-box #time-container p {
  margin-left: 10px;
}
#date-container .user-page #user-container-top #user-picture-box #cents-container {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
#date-container .user-page #user-container-top #user-picture-box #cents-container::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  left: 50%;
  right: 50%;
  transform: translateX(-55%);
  background-color: rgb(172, 172, 172);
  bottom: -20px;
}
#date-container .user-page #user-container-top #user-picture-box #cents-container svg {
  width: 40px;
  height: 40px;
}
#date-container .user-page #user-container-top #user-picture-box #cents-container p {
  margin-left: 10px;
}
#date-container .user-page #user-container-down {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}
#date-container .user-page #user-container-down #hand {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 60px;
  left: 30px;
  cursor: pointer;
}
#date-container .user-page #user-container-down #hand:hover #change-picture {
  opacity: 0.5;
}
#date-container .user-page #user-container-down #hand #change-picture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: gray;
  opacity: 0;
  transition: all 0.5s ease;
}
#date-container .user-page #user-container-down #hand img {
  width: 100%;
  height: 100%;
}
#date-container .user-page #user-container-down #picture-up {
  width: 100px;
  height: 100px;
  position: relative;
  top: 120px;
  left: 50px;
}
#date-container .user-page #user-container-down #picture-up #up {
  width: 180px;
  height: 50px;
}
#date-container .user-page #user-container-down #picture-up svg {
  cursor: pointer;
  position: relative;
  left: 60px;
  top: 10px;
}/*# sourceMappingURL=Sidebar.css.map */